.social-icons-facebook{
    font-weight: bolder;
    color: white;
    background-color:#3b5998
}

.social-icons-google{
    /* border-radius: 50%; */
    font-weight: bolder;
    color: white;
    background-color: #ea4335
}
.social-icons-twitter{
    font-weight: bolder;
    color: white;
    background-color:#1da1f2

}