venv/
.env
.idea/
userAccounts/*/*.pyc
.gitignore
*/*/*.pyc
planner_frontend/node_modules/*
planner_backend/Scripts
.vscode
planner_backend/**/**/**.cpython-39.pyc
**/**/**/*.cpython-39.pyc
*.pyc
db.sqlite3