/* html{
    background-color: darkslategrey;
} */
.container-fluid{
    background-color: #3b5998;
    height: 100vh;
}

input[type="text"]{
    background: transparent;
    color:white;
  }
  
  input[type="text"]:focus{
    background: transparent;
    color:white;
  }


.card-header{
  border: 0;
  background-color: inherit;
  color: black;
  text-align: center;
  font-family: cursive;
  font-size: 35px;
}

.btn-center{
  top: -5%;
  position: relative;
}