.btn-primary {
    color: #fff;
    background-color: #6c63ff;
    border-color: #6c63ff;
}

.form-check-input:checked {
    background-color: #6c63ff;
    border-color: #0d6efd;
}
.social-icons-facebook{
    font-weight: bolder;
    color: white;
    background-color:#3b5998
}

.social-icons-google{
    /* border-radius: 50%; */
    font-weight: bolder;
    color: white;
    background-color: #ea4335
}
.social-icons-twitter{
    font-weight: bolder;
    color: white;
    background-color:#1da1f2

}